
body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
}

h1 {
  font-size: 46px;
  margin-top: 0;   
  margin-bottom: 5px;   

}

p{
  margin-top: 0;   
  font-size: 22px;
  margin-bottom: 9px;   

}

.header {
  background: #ff0;
  height: 100%;
  width: 100%;
  padding-top:5px;
  padding-bottom: 10px;
}

.searchArea{
  padding-top: 20px;
}

.headerText{
  margin-left: 33px;
}



.searchForm{
    margin-left: 75px;

}

.inputBox{
  height: 38px;
  width: 50%;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid;

}


.submitBtn  {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    height: 38px;
    padding: 8px;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.explanation{

}

footer{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:30px;
  line-height: 30px;
  width: 100%;
  background: #ff0;
  font-size: 12px;

}

.reactLogo{
 width:100px;
 height:27px; 
 vertical-align: middle;
}

.left{
    float:left;

}

.right{
    float:right;

}