
body {
  background-color: #EEEEEE;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
}

h1 {
  font-size: 46px;
  margin-top: 0;   
  margin-bottom: 5px;   
  font-weight: normal;

}

p{
  margin-top: 0;   
  font-size: 22px;
  margin-bottom: 9px;   

}

.HeaderArea{
  height: 400px;
  width: 100%;
  position: relative;
  background-color: #90CAF9; 
}

.HeaderArea::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(1.2deg);
}

.searchArea{
  padding-top: 20px;
  padding-left: 33px;
  background-color: 
}

.headerText{
  padding-top: 140px;
  margin-left: 33px;
}


.searchBox{
  height: 38px;
  width: 1000px;
  font-size: 18px;
  border-radius: 5px;
  padding-left: 5px;
  border: 2px solid;

}


.ThreadListing{
  padding-top: 90px;
  padding-left: 75px;
  padding-bottom: 80px;
}

.title{
  margin-top: 20px;
  margin-bottom: 90px;
}

footer{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:30px;
  line-height: 30px;
  width: 100%;
  background-color: #90CAF9; 
  font-size: 12px;

}

.reactLogo{
 width:100px;
 height:27px; 
 vertical-align: middle;
}

.left{
    float:left;

}

.right{
    float:right;

}